@import 'tailwindcss';
@import '../../../libs/shared/design-tokens/src/lib/ssrk-tokens.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--color-ssrk-text-body);
  background-color: #ffffff;
}
